
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" 
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <h1>Quote</h1>
    <div id="q">Pritisni gumb za naključni quote</div>
    <button onclick="btnclick()">Get Random Quote</button>

    <script>
        function btnclick() {
            $.ajax({
                url: "/randomQuote", 
                success: function (result) {
                    document.getElementById("q").innerHTML = result;  
                }
            });
        }
    </script>

</body>

</html>